#work-sample
  .path-info
    %span.path
      %span=@work_sample.class
      %span
        %i.fa.fa-chevron-right
      %span=@work_sample.name
  %h3 Work Sample Detail
  %h5
    Name:
    = @work_sample.name
  - if @work_sample.file.attached?
    = image_tag @work_sample.file
  - else
    %p No sample file attached yet
  %section
    %h5
      %strong Description
    %div
      - if @work_sample.content.present?
        = @work_sample.content
      - else
        %i This work sample has no

    - if @work_sample.file.attached?
      %p
        %strong Files:
        - if @work_sample.file.representable?
          = link_to image_tag(@work_sample.file.representation(resize: '500x500')), @work_sample.file # opens in new browser tab
          = link_to image_tag(@work_sample.file.representation(resize: '500x500')), rails_blob_path(@work_sample.file, disposition: :attachment) # downloads file
        - elsif @work_sample.file.image?
          = link_to image_tag(@work_sample.file, width: 500), @work_sample.file
        - else
          = link_to @work_sample.file.filename, @work_sample.file